* {
  font-family: sans-serif;
  padding: 3px;
  font: 10px;

}
.Title1 {
    font-size: 20px;
    color: white;
    position: absolute;
    width: 300px;
    z-index: 1;
        }
.bannerimg {
  position: absolute;
  margin-top: 10%;
  height: 95px;
  z-index: -1;
  }
.introparagraph {
    font-size: 13px;
      }
.Menuheader {
  color: white;
  text-align: left;
  padding-right: 5px;
  font-size: 13px;
  }
h2 {
  font-size: 1rem;
  }
.sideinfo {
font-size: 13px;
float: right;
width: 30%;
padding: 10px;
}
a {
  font-size: 13px;
  color: #00CCCC;
  }
.story {
  font-size: 13px;
  color: #00CCCC;
  margin-left: 30px;
}
.storysection {
  font-size: 13px;
  }
h3 {
  font-size: 13px;
  color: white;
  text-align:center;
}
.Rates {
    font-weight: bold;
    font-size: 12px;
  }
.footerpic {
  position: absolute;
  width: 95%;
  margin-bottom: 10%;
  z-index: -1;
 }
 .navbar {
   font-size: 13px;
   color: white;
   text-align: center;
 }
 .Menufooter {
   color: white;
   align-content: center;
   z-index: 1;
     }
 .bottomcopyright {
    color: white;
    text-align: center;
   }
